body{
    background-color: #F2F2F2;
    font-family: monospace;
    .one {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        P{
            font-size: 20px;
        }
    }
    .price{
        color: #B02B2B;
    }
    .priceOriginal{
        color: #868686;
        text-decoration: line-through;
        font-size: 14px;
    }
    .col-2{
        cursor: pointer;
        label{
            cursor: pointer;
        }
    }
}